/* Color pallete */
:root {
    --black: #000000;
    --grey:  #d3d3d3;
    --purple: #260433;
    --accent: #5a1177;
}

/* body background */
body {
    background-color: var(--grey);
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
}

/* header background and formatting */
header {
    background-color: var(--accent);
    color: var(--grey);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px 30px;
    margin: -8px -18px 0 -18px;
}   

h1 {
    font-size: 40px;
    background-color: var(--purple);
    padding: 30px 30px 30px 40px;
    margin: -10px -10px 0px -40px;;
}

.nav li {
    font-size: 30px;
    display: inline-flex;
    align-items: baseline;
    margin: 10px;   
}

header a{
    color: var(--grey);
}

/* spanned image below header */
.bg {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/grand-canyon.jpg");
    background-size: cover;
    background-position: 50% 75%;
    margin-left: auto;
    margin-right: auto;
}

/* Format each section head */
.sectionhead{
    font-size: 30px;
    text-decoration: underline var(--purple);
}

/* about me section formatting */
#about-me {     
    padding-top: 10px;
    display: flex;
    flex-basis: 100%; 
}

#about-me div{
    flex-direction: column;
    margin-left: 10px;
    background-color: var(--accent);
    color: var(--grey);
    padding-left: 20px;
    flex: 2 2;
}

#about-me img{
    object-fit: cover;
    object-position: 40% 75%;
    height: 300px;
    width: 200px;
    display: flex;
    flex: 1 1;
    padding: 10px;
}

/* my work formatting */
#my-work {
    display: flex;
    flex-wrap: wrap;
}

/* main focus work formatting */
#Big-Work {
    
}

.work{

}

footer {
    color: var(--black);   
    display: flex;
}

footer a {
    color: var(--black);
    display: inline-block;
}

@media screen and (max-width: 856px) {
    header  {
      flex-direction: column;   
    }
  }
  
  @media screen and (max-width: 562px) {
    .nav li  {
        display: flex;
        flex-direction: column;   
        justify-content: center;
    }
  }
  
